.main-top
  .main-topl
    .main-topl__topname
      = @group.name
    .main-topl__topmessage
      Member :
      .main-topl__topmember
        - @group.users.each do |user|
          = user.name
  .main-topr
    .main-topr__toptext
      = link_to "Edit", edit_group_path(params[:group_id]), method: :get