.main-body
 .maim-bodyin
  .main-bodyin__box
   .main-bodyin__box-name
    test-user
   .main-bodyin__box-time
    2019/06/22(Sat)17:50:42
  .main-bodyin__message
   こんにちは！
 .main-bodyin
  .main-bodyin__box
   .main-bodyin__box-name
    test-user
   .main-bodyin__box-time
    2019/06/23(Sun)18:50:42
  .main-bodyin__message
   こんばんわ
