.side-buttom
 .side-buttom__name
  test-group
 .side-buttom__message
  さようなら
 .side-buttom__name
  sample-group
 .side-buttom__message
  hello! 
 .side-buttom__name
  example
 .side-buttom__message
  まだメッセージはありません  